.container-studie{
    position: relative;
    margin-bottom:10em;
}
.background-red{
    width: 100%;
    background-position: absolute;
    background-image: url(../assets/background-red.png);
}
.row-illus {
    height: auto;
    width: 100%;
}
.container-text-studie {
    display: flex;
    .col:first-child {
        max-width: 30.563em;
        margin-left: 20%;
    }
    .col:last-child{
        max-width: 30.563em;
        margin-left: 2%;
    }
}
