.container-herotext{
    max-width: 45.75em;
    margin:0 auto $xl-spacing auto;
    .p-large.text-center{
        margin-bottom: $m-spacing;
    }
}
.container-speechbubbles{
    display: flex;
    justify-content: space-around;
}
.row-full{
    img{
        width: 100%;
    }
}