$color-transparent: transparent;
$color-black: #1D2024;
$color-white: #ffffff;
//gradients
$color-gradient-forest:linear-gradient(90.68deg, #4D7268 0.07%, #2E504E 99.31%);
$color-gradient-terracotta:linear-gradient(270.71deg, rgba(134, 72, 55, 0.99) -0.83%, #AA6451 100%);
$color-gradient-blue: linear-gradient(90.67deg, #256583 1.19%, #174459 100%);
$color-gradient-white: linear-gradient(178.27deg, #FFFCFA 0.6%, #FAF1EA 99.9%);

//Green
$color-green-100: #F2F6DA;
$color-green-200: #E9EFC6;
$color-green-300: #E0E7B4;
$color-green-400: #D5DDA3;
$color-green-500: #CFD59F;
$color-green-600: #BCC585;
$color-green-700: #AFB878;
$color-green-800: #A1AA6A;
$color-green-900: #939C5E;
//Grey
$color-grey-100: #EDEDED;
$color-grey-200: #DDDDDD;
$color-grey-300: #C4C4C4;
$color-grey-400: #A8A8A8;
$color-grey-500: #9B9B9B;
$color-grey-600: #777777;
$color-grey-700: #555555;
$color-grey-800: #444444;
$color-grey-900: #333333;
//Forest
$color-forest-100: #DDE6DE;
$color-forest-200: #C6D6CA;
$color-forest-300: #B0C5B7;
$color-forest-400: #9AB4A5;
$color-forest-500: #84A394;
$color-forest-600: #6E9284;
$color-forest-700: #588074;
$color-forest-800: #4A6E63;
$color-forest-900: #3C5C52;
//Aqua
$color-aqua-100: #DEEAEB;
$color-aqua-200: #C8DCDE;
$color-aqua-300: #B3CDD0;
$color-aqua-400: #9DBDC2;
$color-aqua-500: #88ADB3;
$color-aqua-600: #749CA5;
$color-aqua-700: #5F8B96;
$color-aqua-800: #547E89;
$color-aqua-900: #49717B;
//Beige
$color-beige-100: #FDF3EC;
$color-beige-200: #FAEADD;
$color-beige-300: #F7E1CF;
$color-beige-400: #F4D7C1;
$color-beige-500: #F0CEB4;
$color-beige-600: #ECC5A7;
$color-beige-700: #DEB89A;
$color-beige-800: #CFAA8E;
$color-beige-900: #C19D82;
//terracotta
$color-terracotta-100: #E1BFB6;
$color-terracotta-200: #D7ACA1;
$color-terracotta-300: #CC9A8C;
$color-terracotta-400: #C18878;
$color-terracotta-500: #B67664;
$color-terracotta-600: #AA6451;
$color-terracotta-700: #9B5947;
$color-terracotta-800: #8B4E3E;
$color-terracotta-900: #7B4434;
//blue
$color-blue-100: #D2DEE4;
$color-blue-200: #B9CBD4;
$color-blue-300: #A0B8C4;
$color-blue-400: #87A5B4;
$color-blue-500: #6E92A3;
$color-blue-600: #567F92;
$color-blue-700: #3E6B81;
$color-blue-800: #265870;
$color-blue-900: #1F5068;