@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Jost&display=swap');

body{
    font-family: 'Jost', sans-serif;
    color: $color-grey-900;
}
h1,h2,h3,h4,h5{
    line-height: 1.2;
}
h1{
    font-family: 'Calistoga', serif;
    font-size: 2.625rem;
    text-align: center;
    text-shadow: 2px 2px $color-terracotta-600;
}
h2{
    font-family: 'Calistoga', serif;
    font-size: 2.25rem;
    text-align: center;
}
h3{
    font-size: 2rem;
    text-align: center;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1.375rem;
    font-weight: 600;
}
p{
    font-size: 1rem;
    line-height: 1.5;
}
.p-large{
    font-size: 1.125rem;
}
.p-small{
    font-size: 0.875rem;
}
@media (min-width:60rem){
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.5rem;
    }
}
