
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

div{
    font-family: 'Jost', sans-serif;
    color: $color-grey-900;
}
h1,h2,h3,h4,h5{
    line-height: 1.2;
    font-weight: bold;
}
h1{
    font-size: 6rem;
    text-align: center;
    text-shadow: 0.125rem 0.125rem $color-terracotta-600;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 1.75rem; //32px
}
/*
h4{
    font-size: 1.5rem; //24px
}
h5{
    font-size: 1.375rem;
    font-weight: 600;
}
*/
p{
    font-size: 1.125rem;
    line-height: 1.625;
}
.p-large{
    font-size: 1.375rem;
}
.p-small{
    font-size: 0.875rem;
}


.hero-subline{
    font-size: 2.25rem;
    text-align: center;
}

.text-center{
    text-align: center;
}

.text-bubbles{
    color: $color-beige-900;
}

.topline{
    font-size: 1rem;
}
.topline-green{
    color: $color-green-900;
}
.topline-white{
    color: white;
}

.rubbish{
    color: white;
    text-align: center;
}
.link{
    color: $color-forest-500;
    text-decoration: underline;
}


@media (min-width:60rem){
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.5rem;
    }
}